
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
@Html.ActionLink("Contact", "index", "Contact")<br/>

@Html.RouteLink("Contact Us", new {controller = "Contact" })<br/>

@Html.RouteLink("Contact Us", "Default", new { controller = "Contact" })<br />

